.hover {
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.hover::before {
  content: '';
  position: absolute;
  width: 140px;
  height: 3px;
  border-radius: 2px;
  background-color: #4f46e6;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .5s ease-in-out;
}

.hover:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

